body {
  font-family: Arial, sans-serif;
  background-color: blueviolet;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: grey;
  font-size: 12px;
  text-align: left;
}

input[type="text"],
select {
  width: 100%;
  padding-bottom: 15px;
  margin: 5px 0 15px;
  font-weight: 600;
  border: none;
  box-sizing: border-box;
  border-bottom: 2px solid silver;
}

::placeholder {
  color: silver;
  opacity: 1;
}

#btn {
  background-color: blueviolet;
  width: 100%;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 17px;
  cursor: pointer;
  font-size: 16px;
}

#message {
    padding-bottom: 50px;
}

button:hover {
  background-color: #5d8ab9;
}
